<html>
	<body>
		<header>
			<h1>petulance</h1>
            <a href="/pets">Go Home</a>
		</header>

        <p><%= thispet[0][1] %> is a <%= thispet[0][2] %></p>


        <h3>Update <%= thispet[0][1] %>'s name here:</h3>
        <form action="/pet/<%= thispet[0][0]%>" method = 'post'>
            <input type="hidden" name = "_method"  value = 'put'>
            <input type="text" name = "newname" placeholder="what's their name?" required>
            <button>UPDATE IT!!!1!</button>
        </form>


        <p><%= thispet[0][1] %> can be removed here: </p>
        <form action= '/pet/<%= thispet[0][0]%>' method= 'post'>
            <input type="hidden" name="_method" value="delete">
            <button>DELETE IT!!!!</button>
        </form>


	</body>
</html>