<html>
	<body>
	<p>Hello, my name is <%= name %>, my favorite color is
	<%= color %>.</p>
	<p>I am from <%= hometown %>. My favorite band is <%= band %>
	and my favorite artist is <%= artist %>.</p>
	<p>My favorite food is <%= food %>.</p>
	</body>
</html>